$base-duration: 500ms;
$cubic: cubic-bezier(.64,.09,.08,1);
// Colors
$color-1: #004544;
$color-2: #9fd5b3;
$color-3: #feb70d;
$color-4: #CF3234;
$color-5: #18252a;
$black: #000;
$white: #fff;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $white;
}
:-moz-placeholder { /* Firefox 18- */
  color: $white;
}

*, *:before, *:after {
	box-sizing: border-box;
	outline: none;
}
// ====================== mobile ============================
.big-menu {
	width: 57px;
	height: 57px;
	background-color: $color-3;
  color: $color-5;
	transition: transform 250ms ease;
	cursor: pointer;
  font-weight: bold;
  z-index: 200;
  font-size: 10px;
  letter-spacing: -.13em;
  padding: 15px;

	span {
		position: relative;
		display: block;
		width: 100%;
    height: 3px;
    margin-top: 3px;
		background-color: $color-5;
		float: left;
		transform-origin: center center;
		transition: transform 250ms ease;
		z-index: 200;
	}
}

#big-menu {
	display: none;

	&:checked ~ .big-menu {
    position: fixed;
    top: 9px;
    right: 9px;
		background-color: $color-3;
    color: $color-5;

		span {
			background-color: $color-5;
      transition: transform 250ms ease;

			&:nth-of-type(1) {
				transform: translateY(3px) rotate(45deg);
			}

			&:nth-of-type(2) {
				display: none;
			}

			&:nth-of-type(3) {
        transform: translateY(-3px) rotate(-45deg);
        margin-bottom: 5px;
			}
		}
	}

	&:checked ~ .big-nav {
		right: 0;
		transition: right $base-duration ease;
	}

	&:checked ~ main {
		transform: translateX(250px);
		transition: transform $base-duration ease;
	}

	// &:checked ~ header {
	// 	transform: translateX(250px);
	// 	transition: transform $base-duration ease;
	// }
}

.big-nav {
	position: fixed;
	top: 0;
	right: -30em;
	width: 30em;
	height: 100vh;
  max-width: 100%;
	margin: 0;
	padding: 0;
	background-color: $color-5;
	transition: right $base-duration ease;
	z-index: 5;

  .search-box{
    padding: 9px 75px 9px 9px;
    font-size: 30px;
    position: relative;
    background: rgba($black,0.9);

    input{
      padding: 0 0 0 8px;
      width: 100%;
      height: 57px;
      border: none;
      border-bottom: 2px solid $white;
      background-color: transparent;
      color: $white;
    }
    input::placeholder {
      color: $white;
    }
    span{
      position: absolute;
      width: 0px;
      top: 15px;
      right: 110px;

      img{
        display: none;
      }
    }

    span::after{
      content: "\e003";
      font: normal 25px "Glyphicons Halflings";
      color: $white;
    }
  }

  .nav-container{
    width: 30em;
    max-width: 100%;
    height: calc(100vh - 4.7em);
    position: fixed;
    transition: right $base-duration ease;
    top: 4.7em;
    right: -30em;
    overflow-y: auto;

    .nav-item{
      display: flex;

      a{
        color: $white;
        text-decoration: none;
        padding: .5em;
        flex: 1;
        display: flex;

        span{
          margin: auto 0;
          padding: .5em;
        }
      }
      a:hover{
        background-color: $color-2;
        color: $color-5;
      }

      .sub-items-btn{
        width: 5em;
        text-align: center;
        padding: 1em;
        font-weight: bold;
        color: $white;
        cursor: pointer;
      }

      .sub-items-btn:hover{
        background-color: $color-1;
      } 

      .sub-items-btn::after{
        font: bold 20px "Font Awesome\ 5 Free";
        content: "\f105";
        color: $white;
      } 

      .back{
        padding: 1em;
        font-weight: bold;
        color: $white;
        background-color: lighten($color-1, 5%);
        cursor: pointer;

        i::before {
          font: bold 20px "Font Awesome\ 5 Free";
          content: "\f104";
          color: $white;
          margin-right: 5px;
        }
      }
      .back:hover{
        background-color: $color-3;
      }
    }
  }

  .active.nav-container{
    transition: right $base-duration ease;
    right: 0;
    background: rgba($black,0.9); 
  }

  @supports (-ms-ime-align: auto) {
    .nav-container{
      width: 30em;
      max-width: 100%;
      height: calc(100vh - 4.7em);
      position: fixed;
      transition: opacity $base-duration ease;
      top: 4.7em;
      display: none;
      opacity: 0;
      overflow-y: auto;
  
      .nav-item{
        display: flex;
  
        a{
          color: $white;
          text-decoration: none;
          padding: .5em;
          flex: 1;
          display: flex;
  
          span{
            margin: auto 0;
            padding: .5em;
          }
        }
        a:hover{
          background-color: $color-2;
          color: $color-5;
        }
  
        .sub-items-btn{
          width: 5em;
          text-align: center;
          padding: 1em;
          font-weight: bold;
          color: $white;
          cursor: pointer;
        }
  
        .sub-items-btn:hover{
          background-color: $color-1;
        } 
  
        .sub-items-btn::after{
          font: bold 20px "Font Awesome\ 5 Free";
          content: "\f105";
          color: $white;
        } 
  
        .back{
          padding: 1em;
          font-weight: bold;
          color: $white;
          background-color: lighten($color-1, 5%);
          cursor: pointer;
  
          i::before {
            font: bold 20px "Font Awesome\ 5 Free";
            content: "\f104";
            color: $white;
            margin-right: 5px;
          }
        }
        .back:hover{
          background-color: $color-3;
        }
      }
    }

    .active.nav-container{
      transition: opacity $base-duration ease;
      display: block;
      opacity: 1;
      background: rgba($black,0.9); 
    }
  }
}
// ====================== mobile end ========================
